@charset "utf-8";	


/*.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    margin-bottom: 0;
}*/
body{font-family: 'Nanum Gothic';}
/*header start*/
nav#navTop{
	position: fixed;z-index:1;
	width:100%;height: 100px;
	background-color: skyblue;
	padding-left:10px;
}
header{width: 1200px;height: 100px;margin: 20px auto;}
header>img{float: left;}
nav#navTop ul {float: right;}
nav#navTop ul li{float: left;}
nav#navTop li a{display: block;line-height:50px;text-align: center;padding: 0 10px;}
/*header end*/

/*page1 start*/
#page1{width: 100%;height: 100%;min-width:1200px;}
#page1 .charaWrap{width: 1920px;height: 100%;position: relative;}
#page1 .chara_img{width: 1200px;margin: 0 auto;}
#page1 .chara_img ul{}
#page1 .chara_img ul li{float: left;width: 25%;height: 367px;}
#page1 .chara_img ul li img{display: block;}
#page1 .full_bg2{}
#page1 .full_bg2 img{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 1200px;}
#page1 .logo_img{position: absolute;z-index: 1;bottom: 10%;left: 50%;transform:translateX(-50%)}
/*--------------------------------------------------------------------------------------*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.outer {
	width: 100%;
	height: 100%;
  overflow: hidden;
}

.inner {
	width: 500%;
	height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 30s linear infinite;
  z-index: -9999
}

@keyframes spin {
	from { transform: translate(-50%, -50%) rotate(0deg); }
	to   { transform: translate(-50%, -50%) rotate(40deg); }
}

.gradient-wrap {
  	width: 100%;
	height: 50%;
	overflow: hidden;
}

.gradient-wrap:last-child {
  transform: rotate(180deg);
}

.gradient {
	width: 100%;
	height: 200%;
	background:
		linear-gradient(180deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient(170deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient(160deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient(150deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient(140deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient(130deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient(120deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient(110deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient(100deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient( 90deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient( 80deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient( 70deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient( 60deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient( 50deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient( 40deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient( 30deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient( 20deg, transparent 50%, #74D2F1 50%, #74D2F1 100%),
		linear-gradient( 10deg, transparent 50%, #EBEBA1 50%, #EBEBA1 100%),
		linear-gradient(  0deg, transparent 50%, #74D2F1 50%, #74D2F1 100%);
}
/*--------------------------------------------------------------------------------------*/
/*page1 end*/

/*page2 start*/
#page2{background: url(../img/pattern02.png),#f9e888 repeat fixed center;}
#page2 .page2_img{position: relative;_background-color: #f00;width: 100%;height: 100%;}
#page2 .page2_img img.page2_img01{position: absolute;z-index: 1;top: 40px;left:-400px; transform:translateX(-100%); animation:img01ani 10s infinite linear;}
   @keyframes img01ani{
      12%{transform:translateX(100%)}
      25%{transform:translateX(-100%)}
   }
#page2 .page2_img img.page2_img02{position: absolute;z-index: 1;top: 40px;right:-400px; transform:translateX(100%) rotateY(-180deg); animation:img02ani 10s 2.5s infinite linear;}
   @keyframes img02ani{
      12%{transform:translateX(-100%) rotateY(-180deg)}
      25%{transform:translateX(100%) rotateY(-180deg)}
   }
#page2 .page2_img img.page2_img03{position: absolute;z-index: 1;bottom: 40px;left:-400px; transform:translateX(-100%); animation:img03ani 10s 5s infinite linear;}
   @keyframes img03ani{
      12%{transform:translateX(100%)}
      25%{transform:translateX(-100%)}
   }
#page2 .page2_img img.page2_img04{position: absolute;z-index: 1;bottom: 40px;right:-400px; transform:translateX(100%) rotateY(-180deg); animation:img04ani 10s 7.5s infinite linear;}
   @keyframes img04ani{
      12%{transform:translateX(-100%) rotateY(-180deg)}
      25%{transform:translateX(100%) rotateY(-180deg)}
   }
.main .page2_txt{width: 450px;height: 450px;padding: 50px 0 50px 50px;text-align: left;}
.main .page2_txt h3{font-size:2em;margin-bottom: 10px;}
.main .page2_txt h4{font-size:1em;margin-bottom: 10px;}
.main .page2_txt span{font-size:0.8em;margin-bottom: 20px;color: orange;display: block;}
.main .page2_txt p{font-size:1em;margin-bottom:30px;line-height: 25px;}
.main .page2_txt a{
	display: block;text-align: center;
	width: 150px;border: 1px solid #000;line-height:35px;
	color:#000;border-radius:7px;margin: auto;transition:0.3s
}
.main .page2_txt a:hover{background-color: #000;color:#fff;}
.main .video{width: 630px;height: 350px;position: absolute;top: 50px;right: 45px;}
#onView{top:20%;transition:0.3s;opacity:0;}
#onView.move{top:50%;opacity:1;}
#myVideo{
    position: absolute;bottom: 0;top: 0;right: 0;
   	width: 100%;height: 100%;background-size: 100% 100%;
    background-color: black;background-position: center center;
    object-fit: cover;z-index: 3;
}
/*page2 end*/

/*page3 start*/
#page3{background: url(../img/pattern01.png),#f9e888 repeat fixed center;position: relative;}
.underBox{width: 100%;height: 600px;background-color: #eb4e58;position: absolute;top: 0;}
.swiper-container {
	width:640px;
	height:345px;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
/*.swiper-slide img {
	box-shadow:0 0 5px #555;
}*/

/*page3 end*/

/*page4 start*/
#page4{background-image: url(../img/tree_02.svg);height: 915px;}
.page4Wrap{width: 100%;padding-top: 200px;}
	.notice{width: 1200px;margin: auto;}

/* 기본테이블 */
.notice table {width:100%;border-collapse:collapse;border-spacing: 0 5px;border:1px solid #ccc;} 
.notice caption {padding:10px 0;font-weight:bold;text-align:left}
.notice caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.notice thead th {padding:10px 0;font-weight:normal;text-align:center;border-bottom:1px solid #ddd;_background:#fafafa;height:40px}
.notice tbody tr:hover{background-color: #fff;}
.notice tbody tr:hover a{text-decoration:underline;}
.notice tfoot th, .notice tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;_background:#d7e0e2;text-align:center}
.notice tbody th {padding:8px 0;border-bottom:1px solid #e8e8e8}
.notice td {color:#666;_background:#fff;padding:10px 5px;border-top:1px solid #ecf0f1;line-height:1.4em;height:60px;word-break:break-all}
#bo_list .bo_tit .fa-heart {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    font-size: 0.833em;
    color: #fff;
    background: #e52955;
    text-align: center;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 2px;
    font-weight: normal;
}


/*page4 end*/


/*공통사항*/
.page{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	text-align: center;
}
.scroll{
	position: absolute;bottom:20px;left:50%;
	transform:translateX(-50%);
	animation-name: xScroll;
	animation-duration:0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes xScroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}
#navTop .active{background-color:skyblue;}

.main{
	width: 1200px;height: 450px;background-color: #fff;position: absolute;left:50%;
	transform:translate(-50%,-50%);text-align: center;color: #000;
}
.main.m2{transform:translate(-50%,-35%);}
.page_title{height: 100px;position: absolute;top: 200px;left: 50%;transform: translate(-50%,-50%);}
.page_title h2{font-size: 50px;}

.swiper-container {
    width: 1200px;
    height: 395px;
    top: 120px;
}
.swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

/* 하단 레이아웃 */
#ft:after {display:block;visibility:hidden;clear:both;content:""}
#ft strong {font-weight:400;}
#ft .sns_area {vertical-align:top;position:absolute;right:0;top:0;}
#ft .sns_area a {color:#fff;margin:0px 5px 0 5px;position:relative;display:inline-block;}
#ft p {color:#a7a7a7;font-weight:100;font-size:1em;line-height:2em}
#ft .footer_link {clear:both;margin:0px 0 3% 0;color:#a7a7a7;font-weight:100;}
#ft .footer_link a {font-size:1em;color:#a7a7a7;font-weight:300;margin-bottom:10px;}
